*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.dis-flex {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 1.9rem;
  font-weight: 400;
  /* color: white; */
  scroll-behavior: smooth;
}

.align-items-center {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.justify-content-center {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.is-flex {
  display: flex !important;
}

header {
  position: relative;
}

.three span {
	color: black;
	opacity: 0;
	transform: translate(-300px, 0) scale(1);
	animation: sideSlide .5s forwards;
}

.animate span {
	display: inline-block;
}

.animate span:nth-of-type(2) {
	animation-delay: .05s;
}
.animate span:nth-of-type(3) {
	animation-delay: .1s;
}
.animate span:nth-of-type(4) {
	animation-delay: .15s;
}
.animate span:nth-of-type(5) {
	animation-delay: .2s;
}
.animate span:nth-of-type(6) {
	animation-delay: .25s;
}
.animate span:nth-of-type(7) {
	animation-delay: .3s;
}
.animate span:nth-of-type(8) {
	animation-delay: .35s;
}
.animate span:nth-of-type(9) {
	animation-delay: .4s;
}
.animate span:nth-of-type(10) {
	animation-delay: .45s;
}
.animate span:nth-of-type(11) {
	animation-delay: .5s;
}
.animate span:nth-of-type(12) {
	animation-delay: .55s;
}
.animate span:nth-of-type(13) {
	animation-delay: .6s;
}
.animate span:nth-of-type(14) {
	animation-delay: .65s;
}
.animate span:nth-of-type(15) {
	animation-delay: .7s;
}
.animate span:nth-of-type(16) {
	animation-delay: .75s;
}
.animate span:nth-of-type(17) {
	animation-delay: .8s;
}
.animate span:nth-of-type(18) {
	animation-delay: .85s;
}
.animate span:nth-of-type(19) {
	animation-delay: .9s;
}
.animate span:nth-of-type(20) {
	animation-delay: .95s;
}

.profile-pic-container {
    width: 30rem;
    margin: 0 auto;
    overflow: hidden;
    height: 30rem;
    border-radius: 180rem;
}
  
.profile-pic {
    width: 30rem;
    height: auto;
    border-radius: 36rem;
}

.intro-job {
  padding: 0.5rem 6rem;
  border: 0.2rem solid rgb(66, 202, 255);
  /* border: 0.2rem solid rgb(0, 92, 127); */
  text-align: center;
  margin: 1.5rem 1rem;
}

.intro-what-i-do {
  padding: 2rem 1.6rem;
  text-align: center;
}

.columns {
  display: flex;
  border-radius: 1rem;
  /* flex-wrap: wrap; */
}

.columns.is-multiline {
  flex-wrap: wrap;
  width: 100%;
}

.is-4-desktop {
  flex: none;
  width: 33.33333%;
}
/* guangzhou */
.column.is-4-desktop {
  flex: none;
  width: 33.33333%;
}

.column {
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(10,10,10,0.1),0 0 0 1px rgba(10,10,10,0.1);
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
  margin: 6rem;
  border-radius: 1rem;
}

.current-card {
  background-color: white;
  max-width: 100%;
  position: relative;
  margin: 1rem;
  color: #005C7F;
}

.pb-2 {
  padding-bottom: 2rem;
}

.header-image {
  width: 100%;
  min-height: 100%;
  /* height: 100vh; */
  overflow: hidden;
  /* background: url(../img/oliur-280433-unsplash.jpg) no-repeat center center fixed; */
  background: url(../img/image1.jpg) no-repeat center center fixed;
  /* background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 92, 127, 0.3)), url(../img/oliur-280433-unsplash.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.box {
  padding-top: 2rem;
}

@keyframes sideSlide {
	60% {
		transform: translate(20px, 0) scale(1);
		color: #ffffff;
	}

	80% {
		transform: translate(20px, 0) scale(1);
		color: #ffffff;
	}

	99% {
		transform: translate(0) scale(1.2);
		color: #00f0ff;
	}

	100% {
		transform: translate(0) scale(1);
		opacity: 1;
		color: #ffffff;
	}
}

@media only screen and (max-width: 1048px) {
  .column.is-4-desktop {
    width: 50%;
  }

  /* .column.is-6-tablet {
    margin-bottom: 3rem;
    margin-top: 3rem;
  } */

  .column.is-6-tablet:last-child {
    margin-bottom: 6rem;
  }
}

@media only screen and (max-width: 721px) {
  .column.is-6-tablet {
    width: 100%;
  }

  .nav-container {
    padding: 0;
  }
  
  .nav-links {
    position: fixed;
    right: 0;
    height: 100vh;
    z-index: 10;
    background-color: #005C7F;
    display: flex;
    flex-direction: column;
    z-index: 10;
    justify-content: space-evenly;
    width: 85%;
    text-align: left;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .contact {
    width: 100%;
  }

  .nav-links li:last-child {
    padding: 0 2rem;
  }

  .menu {
    display: block;
  }

  .column.is-6-tablet:last-child {
    margin-bottom: 6rem;
  }
}

@media only screen and (max-width: 516px) {
  .intro-job {
    /* font-size: 1.6rem; */
    font-size: 1.3rem;
    padding: 0.5rem 5rem;
  }

  .column.is-6-tablet:last-child {
    margin-bottom: 6rem;
  }
}

@media only screen and (max-width: 312px) {
  .intro-job {
    padding: 0.5rem 0rem;
  }

  .column.is-6-tablet:last-child {
    margin-bottom: 6rem;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(5rem);
  }

  to {
    opacity: 1;
    transform: translateX(0rem);
  }
}